<!-- ###TEMPLATE### begin -->
    <!-- ###CONTENT### begin -->
    <div class="section group paddingleft10" >
        <div class="col span_1_of_3">
            <a href="###LINK###" title="Toutes les vidéos de ###TITLE###">###IMAGE###</a>
        </div>
        <div class="col span_2_of_3">
            <h3 class="livre" style="margin-bottom: 43px;"><a title="Toutes les vidéos de ###TITLE###" href="###LINK###">###TITLE###</a></h3>
            <p class="subheader" style="margin-bottom:0;">###NB###</p>
        </div>
    </div>
    <hr />
    <!-- ###CONTENT### end --> 
    
    <p class="group"><a class="more" href="###LINK_PLAYLISTE###">Tous les artistes</a></p>
<!-- ###TEMPLATE### end -->

<!-- ###TEMPLATE_EMPTY### end -->
###emptymessage###
<!-- ###TEMPLATE_EMPTY### end -->
 