<!-- ###TEMPLATE### begin -->
<script type="text/javascript">
        var populatejson_realisation = ###JSON###;             
</script>
<div class="listforum">
    <!-- ###CONTENT### begin -->
        <a title="Toutes les vidéos dans ###TITLE###" href="###LINK###">###TITLE### - ###NB###</a>
         
    
    <!-- ###CONTENT### end --> 
    </div>
    ###TEXTE###
<div class="contentautocomplete">
<div class="group">

    <span class="formw col floatleft"><input type="text" placeholder="Genre musical..." id="input_realisation" /></span> 
<span class="formw col floatleft"><button class="button_add_realisation" type="button">Enregistrer</button></span> 

<input type="hidden" id="hiddenvideo" value="###NEWSUID###" />
<input type="hidden" id="hiddenrealisation" value="###HIDDENARTISTE###"  />

</div>
    
    <div class="addnewbloc group" style="display:none;">

    <span class="formw col floatleft">
        <input type="text" placeholder="Nom du realisation..." id="input_realisation2" />
    </span> 
    <span class="formw col floatleft">
        <button class="button_addnew" type="button">Enregistrer comme nouveau</button>
    </span> 

<input type="hidden" id="hiddenvideo2" value="###NEWSUID###" />

</div>   
</div>   

<!-- ###TEMPLATE### end -->

<!-- ###TEMPLATE_EMPTY### end -->
<script type="text/javascript">
        var populatejson_realisation = [];             
</script>
###emptymessage###
<div class="contentautocomplete">
<div class="group">

    <span class="formw col floatleft"><input type="text" placeholder="Genre musical..." id="input_realisation" /></span> 
<span class="formw col floatleft"><button class="button_add_realisation" type="button">Enregistrer</button></span> 

<input type="hidden" id="hiddenvideo" value="###NEWSUID###" />
<input type="hidden" id="hiddenrealisation" />

</div>
    <div class="addnewbloc group" style="display:none;">

    <span class="formw col floatleft">
        <input type="text" placeholder="Nom du realisation.." id="input_realisation2" />
    </span> 
    <span class="formw col floatleft">
        <button class="button_addnew" type="button">Enregistrer comme nouveau</button>
    </span> 

<input type="hidden" id="hiddenvideo2" value="###NEWSUID###" />

</div>  
</div>
<!-- ###TEMPLATE_EMPTY### end -->
 