<!-- ###TEMPLATE### begin -->
<div class="listforum">
    <!-- ###CONTENT### begin -->
     
             <a title="Toutes les vidéos de ###TITLE###" href="###LINK###">###TITLE###  - ###NB###</a>
         
    <!-- ###CONTENT### end --> 
   </div>   

<!-- ###TEMPLATE### end -->

<!-- ###TEMPLATE_EMPTY### end -->
###emptymessage###
<!-- ###TEMPLATE_EMPTY### end -->
 