<!-- ###TEMPLATE### begin -->

<script type="text/javascript">
        var populatejson_artiste = ###JSON###;             
</script>

    <!-- ###CONTENT### begin -->
    <div class="section group paddingleft10" >
        <div class="col span_1_of_3">
            <a href="###LINK###" title="Toutes les vidéos de ###TITLE###">###IMAGE###</a>
        </div>
        <div class="col span_2_of_3">
            <h3 class="livre" style="margin-bottom: 43px;"><a title="Toutes les vidéos de ###TITLE###" href="###LINK###">###TITLE###</a></h3>
            <p class="subheader" style="margin-bottom:0;">###NB###</p>
        </div>
    </div>
    <!-- ###CONTENT### end --> 
    ###TEXTE###
    <div class="contentautocomplete">
<div class="group">

    <span class="formw col floatleft">
        <input type="text" placeholder="Nom de l'artiste..." id="input_artiste" />
    </span> 
    <span class="formw col floatleft">
        <button class="button_add" type="button">Enregistrer</button>
    </span> 

<input type="hidden" id="hiddenvideo" value="###NEWSUID###" />
<input type="hidden" id="hiddenartiste" value="###HIDDENARTISTE###" />

</div>
        
 <div class="addnewbloc group" style="display:none;">

    <span class="formw col floatleft">
        <input type="text" placeholder="Nom de l'artiste..." id="input_artiste2" />
    </span> 
    <span class="formw col floatleft">
        <button class="button_addnew" type="button">Enregistrer comme nouveau</button>
    </span> 

<input type="hidden" id="hiddenvideo2" value="###NEWSUID###" />

</div>       
</div>
<!-- ###TEMPLATE### end -->

<!-- ###TEMPLATE_EMPTY### end -->
<script type="text/javascript">
        var populatejson_artiste = [];             
</script>
###emptymessage###
<div class="group">

    <span class="formw col floatleft"><input type="text" placeholder="Nom de l'artiste..." id="input_artiste" /></span> 
<span class="formw col floatleft"><button class="button_add" type="button">Enregistrer</button></span> 

<input type="hidden" id="hiddenvideo" value="###NEWSUID###" />
<input type="hidden" id="hiddenartiste" />

</div>
<!-- ###TEMPLATE_EMPTY### end -->
 