/**
 * Place your custom CSS styles here.
 **/
 .vztiframeyt {
    position: absolute;
    top: 70px;
    width:500px;
    height:350px;
    background: #fff;
    z-index: 22;
    right: 0;
    border-radius: 5px;
    border: 2px solid #999;
    box-shadow:  2px 2px 1px 0px #656565;
}
.vztiframeyt iframe {
    width:100%;
    height:100%;
}
.floatleft {
    float: left;
    display: block;
}
.floatright {
    float: right;
    display: block;
}
.clearfix:after {
    clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.vzttextleft {
    padding: 10px;
}
.vztbtnclose {
    margin:10px;
}
.vztvghead {
    background-color: #f1f1f1;
}
