{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Default" />

Render Powermail Form
{forms} 			All Forms with their Pages and their Fields


<f:section name="main">

	<f:flashMessages class="powermail_message powermail_message_error" />

	<f:for each="{forms}" as="form">

		<f:form action="{action}" controller="Forms" enctype="multipart/form-data" class="powermail_form powermail_form_{form.uid} {form.css} {vh:Misc.MorestepClass(activate: '{settings.main.moresteps}', class: 'powermail_morestep')}">
			<h3>{form.title}</h3>
                        <input type="hidden" name="keywords" id="randomstring" />
			<f:render partial="FormError" arguments="{error}" />

			<f:for each="{form.pages}" as="page">
				<fieldset class="powermail_fieldset powermail_fieldset_{page.uid} {page.css}">
					<legend class="powermail_legend">{page.title}</legend>

					<f:for each="{page.fields}" as="field">
						<f:render partial="Forms/{vh:String.Upper(string: '{field.type}')}" arguments="{field: field}" />
					</f:for>

				</fieldset>
			</f:for>

			<f:form.hidden name="form" value="{form.uid}" />
			<f:render partial="HoneyPod" />
		</f:form>

	</f:for>

</f:section>