<table class="nv-datagrid" id="mytable"   >
    <caption>Du {date} par BCM</caption>
    <f:for each="{data}" as="value"  key="label">
	 
               <tr>
    <th scope="row"   class="spec">{label}</th>

    <td class="alt">{value} Ariary</td>
  </tr> 
                             
        </f:for>
</table>        
 
