<div class="slider-wrapper theme-dark">
        <div id="nivoslider-373" class="nivoSlider ">
        <f:for each="{news}" as="newsItem" iteration="itemIteration">
	 
            <f:if condition="{newsItem.url}">
                <a href="{newsItem.linkpage}">
                    <img class="lazy"  title="#nivoslidercaption-{itemIteration.index}" src="thbx_{width}_{height}_1_{newsItem.url}" alt=""  />
                </a>  
            </f:if>
                             
        </f:for>
        </div>
    
    
        <f:for each="{news}" as="newsItem" iteration="itemIteration">
	 
            <div id="nivoslidercaption-{itemIteration.index}" class="nivo-html-caption">
                <a href="{newsItem.linkpage}">{newsItem.titlealbum}</a>
            </div>
                             
        </f:for>
</div>

<p class="align-right"><f:link.page pageUid="21" class="button_link grey">Toutes les photos</f:link.page></p>