<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <f:CObject typoscriptObjectPath="lib.logo" /> 
        </div>
        <div class="navbar-collapse collapse ">
            <f:CObject typoscriptObjectPath="lib.topmenu" />
        </div>
    </div>
</div>
<div class="container" id="page">
    <f:CObject typoscriptObjectPath="lib.filAriane" />
    <f:format.html parseFuncTSPath="lib.parseFunc">{colbody}</f:format.html>
    
</div>
             
            
             
            <div id="footer">
                <footer>
                    <div id="footer">
                        <div class="footer-menu clearfix">
                            <f:CObject typoscriptObjectPath="lib.footermenu" />
                        </div>
                        <div class="paddingleft10">
                            <f:CObject typoscriptObjectPath="lib.contentfooter" />
                        </div>
                        <div class="copyright"> 
                            <div class="ribbon-shadow-left">&nbsp;</div>
                            <div > <f:CObject typoscriptObjectPath="lib.copyright" /><f:CObject typoscriptObjectPath="lib.anneeencours" /> </div>
                            <div class="ribbon-shadow-right">&nbsp;</div>
                        </div>                        
                    </div>
                </footer>                
            </div>            

 