<!-- ###TEMPLATE### begin -->
    <!-- ###BOUCLE### -->
    <div class="section group paddingleft10" >
        <div class="col span_1_of_3">
            <a href="###URL###">###IMG###</a>
        </div>
        <div class="col span_2_of_3">
            <h3 class="livre" style="margin-bottom: 43px;"><a href="###URL###">###TITLE###</a></h3>
            <p class="subheader" style="margin-bottom:0;">###DATEEVENT###</p>
        </div>
    </div>
    <!-- ###BOUCLE### -->
    
    <!-- ###BOUCLECAT### -->
        <div class="section group paddingleft10" ><a href="###LINKALL###" class="more ">###TXTALL###</a></div>  
    <!-- ###BOUCLECAT### --> 
    
<!-- ###TEMPLATE### end -->


