<!-- ###TEMPLATE_LATEST### begin -->
    <!-- ###CONTENT### begin
		  This is the part of the template substituted with the list of news:
	-->
<!-- ###NEWS### begin
			Template for a single item
		-->
    <div class="section group paddingleft10" >
        <div class="col span_1_of_3">
            <!--###LINK_ITEM###-->###NEWSIMAGE###<!--###LINK_ITEM###-->
        </div>
        <div class="col span_2_of_3">
            <h3 class="livre" style="margin-bottom: 43px;"><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h3>
            <p class="subheader" style="margin-bottom:0;">###NEWS_EVENT_DATE###</p>
        </div>
    </div>
<!-- ###NEWS### begin
			Template for a single item
		-->
    <!-- ###CONTENT### begin
		  This is the part of the template substituted with the list of news:
	-->
    
      
    
<!-- ###TEMPLATE_LATEST### end -->

