<!-- ###TEMPLATE### begin -->
<div class="carousel homevent">
<div class="group">
<div class="scrollable">
    <div class="items">
    <!-- ###BOUCLE### -->
    <div class="scrollableitem">
        <div class="event-txt-image">
            <a href="###URL###">###IMG###</a>
            <div class="inner-bloc">
                <h3>###TITLE###</h3>
                <p>###DATEEVENT###</p>
            </div>
        </div>
    </div>
    
 
    <!-- ###BOUCLE### -->
    
    <!-- ###BOUCLECAT### -->
        <div class="section group paddingleft10" ><a href="###LINKALL###" class="more ">###TXTALL###</a></div>  
    <!-- ###BOUCLECAT### --> 
    </div>    
    </div>    
    </div> 
    <div class="group" style="position:relative;height:30px;">
    <a class="prev browse left"></a>
    <a class="next browse right"></a>
</div>
    
    <div id="buttonabso"><a class="floatright button_link grey " href="publier-evenement-soiree-gratuitement-madatsara.html">Publier un évènement</a> <a style="margin-right: 5px;" class="floatright button_link grey " href="evenements.html">Tous les évènements</a></div>
 
    
    </div>    
<!-- ###TEMPLATE### end -->


