<!--###TEMPLATE###-->
<h3>###ALBUMNAME### (© ###AUTHOR###)</h3>
<div  class="clearfix albumfb">
        <!--###BOUCLE###-->
	<div style="margin:0 5px 5px;float:left;height:###H###px;width:###W###px;"> 
                ###IMG### 
	</div>
    <!--###BOUCLE###-->
</div>
<!--###TEMPLATE###-->