<!--###TEMPLATE###-->
<div id="videocontainer" class="photos clearfix"> 
    <div class="scrollable" style="height:100px;">
        <div class="items">
        <!--###BOUCLE###-->
	<div class="photo video" style="margin-left:5px;float:left;height:100px;width:150px;">
            <div class="videoinner" style="display:block;">
                ###IMG###
                
            </div>
		 
		
		 
               
	</div>
    <!--###BOUCLE###-->
</div>
</div>
    
     </div>
<p><a href="###LINKALL###">» Toutes les photos dans ###TITLEALBUM###</a></p>
<!--###TEMPLATE###-->