<!--###TEMPLATE###-->
<h3>Quelques vidéos de ###ARTISTEGENRE###</h3>
<div id="videocontainer" class="photos clearfix"> 
    <div class="scrollable" style="height:165px;">
        <div class="items">
        <!--###BOUCLE###-->
	<div class="photo video" style="margin-left:8px;float:left;height:165px;width:220px;">
            <div class="videoinner" style="display:block;">
                ###IMG###
                <span class="innerpic">
                    <span class="h4">
                        ###TITLE###
                    </span>
                </span>
            </div>
		 
		
		 
               
	</div>
    <!--###BOUCLE###-->
</div>
</div>
    
     </div>
<p><a href="###LINKALL###">» Toutes les vidéos de ###ARTISTEGENRE###</a></p>
<!--###TEMPLATE###-->