<!-- ###DOCUMENT_HEAD### -->
    <title>###01_TEXT_TITLE### </title>
    <meta name="description" content="###01_TEXT_DESCRIPTION###" />
    <meta name="news_keywords" content="###01_TEXT_DESCRIPTION###" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    
    <link type="text/plain" rel="author" href="humans.txt" />

    <!-- Responsive and mobile friendly stuff -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    
    <meta property="og:title" content="###01_TEXT_TITLE###" />
    <meta property="og:url" content="###01_TEXT_URL###" />
    <meta property="og:image" content="###01_IMAGE_URL###" />
    <meta property="og:site_name" content="###01_TEXT_SITENAME###" />
    <meta property="og:description" content="###01_TEXT_DESCRIPTION###" />
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@madatsara" />
    <meta name="twitter:url" content="###01_TEXT_URL###" /> 
    <meta name="twitter:title" content="###01_TEXT_TITLE###" />
    <meta name="twitter:description" content="###01_TEXT_DESCRIPTION###" />
    <meta name="twitter:image" content="###01_IMAGE_URL###" />
    
    <meta itemprop="name" content="###01_TEXT_TITLE###" />
    <meta itemprop="description" content="###01_TEXT_DESCRIPTION###" />
    <meta itemprop="image" content="###01_IMAGE_URL###" />
    <meta itemprop="thumbnailUrl" content="###01_IMAGE_URL###" />
    
    <link rel="canonical" href="###01_TEXT_URLCANONICAL###" /> 
	
 
    <meta name="verify-v1" content="k8rL7/Zq2pa966Zh+/p1Gnw2lQxglkApa4IRYrXplW4=" />
    
    
    <!--[if lt IE 9]>
            <script type="text/javascript" src="fileadmin/templates/maquettes/js/css3-mediaqueries.js"></script>
            <link rel="stylesheet" href="fileadmin/templates/maquettes/css/ie7.css" type="text/css" media="screen,projection" />
    <![endif]-->
<!-- ###DOCUMENT_HEAD### -->