<!-- ###TEMPLATE### begin -->
<h3>Les évènements en relation</h3>
<div   class="photos clearfix">
    <!-- ###BOUCLE### begin -->
    <div class="photo event">
        
            <a href="###link###" title="###TITLE###">###IMAGE###</a>
            <div class="innerpic">
                <h4>###TITLE###</h4>
            </div>
         
    </div>
    <!-- ###BOUCLE### end -->
</div>    
     
<!-- ###TEMPLATE### end -->

