<!-- ###TEMPLATE### begin -->
<h3>D'autres articles sur le même sujet.</h3>
<div class="listforum">
    <!-- ###BOUCLE### begin -->
    <a href="###link###">###TITLE### sur <em>###AUTHOR###</em></a>
    <!-- ###BOUCLE### end -->
    
     
</div>
<!-- ###TEMPLATE### end -->

