<!-- ###TEMPLATE### begin -->
<div class="listforum">
    <!-- ###BOUCLE### -->
    <a href="###URL###">###TITLE### - ###AUTHOR###</a>
    <!-- ###BOUCLE### -->
    
    <!-- ###BOUCLECAT### -->
        <div class="section group paddingleft10" ><a href="###LINKALL###" class="more ">###TXTALL###</a></div>  
    <!-- ###BOUCLECAT### --> 
</div>    
<!-- ###TEMPLATE### end -->


