<!-- ###TEMPLATE### begin -->
<div id="videocontainer" class="photos clearfix">
    <!-- ###CONTENT### begin -->
    <div class="photo video" style="height:165px;width:220px;">
        <div class="videoinner" >
            <a href="###LINK###" title="Toutes les vidéos de ###TITLE###">###IMAGE###</a>
            <span class="innerpic">
                <span class="h4">###TITLE### - ###NB###</span>
            </span>
        </div>
         
    </div>
    <!-- ###CONTENT### end --> 
    ###PAGINATION###
</div>
<!-- ###TEMPLATE### end -->

<!-- ###TEMPLATE_EMPTY### end -->
###emptymessage###
<!-- ###TEMPLATE_EMPTY### end -->