<!-- ###TEMPLATE### begin -->
<h3>Les sites Internet en relation</h3>
<div class="photos clearfix">
    <!-- ###BOUCLE### begin -->
    <div class="photo event">
        
            <a data-href="###ext_url###" class="lienmou" title="###TITLE###">###IMAGE###</a>
            <div class="innerpic">
                <h4>###TITLE###</h4>
            </div>
         
    </div>
    <!-- ###BOUCLE### end -->
</div>    
     
<!-- ###TEMPLATE### end -->

