<!-- ###TEMPLATE### begin -->
<div id="videocontainer"  class="photos clearfix"> 
    <a class="prev browse left"></a>
    <div class="scrollable">
        <div class="items">
    <!-- ###BOUCLE### -->
    <div class="photo video" style="height:165px;width:120px;">
        <div class="videoinner" style="display:block;">
            <a href="###URL###">###IMG###</a>
            <span class="innerpic" style="width:112px;">
                <span class="h4">###TITLE###</span>
            </span>
        </div>
         
        
    </div>
     
    <!-- ###BOUCLE### -->
    
</div>			 
 </div>	
     <a class="next browse right"></a>
 </div>
    
<!-- ###TEMPLATE### end -->


