<!-- ###TEMPLATE### begin -->
    <!-- ###CONTENT### begin -->
    <div class="section group paddingleft10" >
        
        <div class="span_2_of_3">
            <h3 class="livre" style="margin-bottom: 43px;"><a title="Toutes les vidéos de ###TITLE###" href="###LINK###">###TITLE###</a></h3>
            <p class="subheader" style="margin-bottom:0;">###NB###</p>
        </div>
    </div>
    <!-- ###CONTENT### end --> 
    ###TEXTE###
<!-- ###TEMPLATE### end -->
 