<!-- ###TEMPLATE### begin -->
<p class="align-center" >
      <a href="###LINK_PLAYLISTE###"  class="red button_link large_button" >Lire tout.</a>
<a href="javascript:;" id="delete_selection"  class="red button_link large_button" >Supprimer cette sélection.</a>
</p>
<p>###NBSELECTION### vidéo(s) dans votre sélection.</p>  
 
<!-- ###TEMPLATE### end -->

<!-- ###TEMPLATE_EMPTY### end -->
<div class="emptymsg">
###emptymessage###
</div>
<!-- ###TEMPLATE_EMPTY### end -->
 