<!-- ###TEMPLATE### begin -->
<div id="playliste" class="bgvideo"><div class="content"><div class="inner"> <div class="inner2"><div class="section group paddingleft10" ><div class="col span_2_of_3"><div class="content"><div class="inner"><div class="paddingleft10 innerhome">


                                    <div id="player"></div>

<h3 id="titrevideo"></h3>
<div id="metadata" class="metadata group"></div>
<div id="artistes"></div>
<!--<div id="editartistes">
<label >D'autres artistes sont aussi dans la vidéo :</label> 
<div class="group">

<span class="formw col floatleft"><input type="text" id="input_artiste" /></span> 
<span class="formw col floatleft"><button class="button_add" type="button">Enregistrer</button></span> 

<input type="hidden" id="hiddenvideo" />
<input type="hidden" id="hiddenartiste" />
</div>
 

</div>-->
<div id="genrem"></div>
<!--
<div class="group">

<span class="formw col floatleft"><input type="text" id="input_genre" /></span> 
<span class="formw col floatleft"><button class="button_add_genre" type="button">Enregistrer</button></span> 

<input type="hidden" id="hiddenvideo" />
<input type="hidden" id="hiddengenre" />
</div>
-->

<div id="bloc_comm"></div>





                                </div></div></div> </div><div class="col span_1_of_3"> <div class="content"><div class="inner"><div class="paddingleft10 innerhome" id="listepl" style="height:600px;overflow:auto;">

       
    <!-- ###CONTENT### begin -->
    
    <div class="item">
        <a data-href="###LINKVIDEO###" href="###LINKPID####?watch=###YTID###" >
<div class="section group paddingleft10" >
        <div class="col span_1_of_3">
			
            ###IMAGEVIDEO###
        </div>
        <div class="col span_2_of_3">
            <h3 class="livre" style="margin-bottom: 43px;">###TITLEVIDEO###</h3>
            <p class="subheader" style="margin-bottom:0;">
                <!-- ###ARTISTE### begin -->
                ###NAME### ###SEPARATOR###
                <!-- ###ARTISTE### begin -->
            </p>
        </div>
    </div>
</a>
    </div>
        
    <!-- ###CONTENT### end --> 

</div>  
</div>
 
<!-- ###TEMPLATE### end -->

<!-- ###TEMPLATE_EMPTY### end -->
<div class="emptymsg">
###emptymessage###
</div>
<!-- ###TEMPLATE_EMPTY### end -->
 