<!-- ###TEMPLATE### begin -->
 
    <!-- ###BOUCLE### -->
    <div class="section group paddingleft10 videohover" >
                      <div class="col span_1_of_3">
                          <a href="###URL###">###NEWSIMAGE_YT###</a>
                      </div>
                      <div class="col span_2_of_3">
                          <h3 class="livre">###TITLE###</h3>
                          <span class="innerpic">
                                        <span class="h4">###NEWS_ARTISTE###</span>
                          </span> 

                      </div>
                      </div>
     
    
 
    <!-- ###BOUCLE### -->
    
    
         
<!-- ###TEMPLATE### end -->

<!-- ###TEMPLATE_LISTEARTISTE### end -->
    <em>
    <!-- ###CONTENT### begin -->
        <a href="###link###" title="Afficher les vidéos de ###title###">
             ###title###
        </a>###separator###
    <!-- ###CONTENT### end -->
    </em>
<!-- ###TEMPLATE_LISTEARTISTE### end -->
