<!-- ###TEMPLATE_LISTSPOSTS### begin -->
<div class="listforum">
    <!-- ###BOUCLE### begin -->
    <a href="###link###">###message### ###poster### ###posted###</a>
    <!-- ###BOUCLE### end -->
    
    <div class="section group paddingleft10">
            <a href="###linkall###" class="more ">###TXTALL###</a>
    </div>
</div>
<!-- ###TEMPLATE_LISTSPOSTS### end -->

<!-- ###TEMPLATE_LISTSFORUMS### begin -->
<div class="listforum">
    <!-- ###BOUCLE### begin -->
    <a href="###link###">###forum_name###</a>
    <!-- ###BOUCLE### end -->
    
    <div class="section group paddingleft10">
            <a href="###linkall###" class="more ">###TXTALL###</a>
    </div>
</div>
<!-- ###TEMPLATE_LISTSFORUMS### end -->

<!-- ###TEMPLATE_LISTSTOPICS### begin -->
<div class="listforum">
    <!-- ###BOUCLE### begin -->
    <a href="###link###">###subject### ###poster### ###posted###</a>
    <!-- ###BOUCLE### end -->
    
    <div class="section group paddingleft10">
            <a href="###linkall###" class="more ">###TXTALL###</a>
    </div>
</div>
<!-- ###TEMPLATE_LISTSTOPICS### end -->

