<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Madatsara - Evénement de la semaine</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        
        var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-2014032-1']);				
				_gaq.push(['_trackPageview']);    
                                _gaq.push(function() {
                                    var pageTracker = _gat._getTrackerByName(); 
                                    if( document.getElementById('myIFrame') ){
                                         
                                        var iframe = document.getElementById('myIFrame');
                                        iframe.src = pageTracker._getLinkerUrl('fileadmin/tl/');
                                    }
                                });
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
				})();
                    var baseURL = "http://www.madatsara.com/";

    </script>
  </head>

  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #A5000B;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color:#fff;">Madatsara</a>
        </div>
         
      </div>
    </nav>
    <div class="container" style="margin-top:4em;">
        <h2>Événement de la semaine</h2>
        <table class="table table-striped">
      <thead>
        <tr>
          <th>Flyer</th>
          <th>Titre événement</th>
          <th>Date début</th>
          <th>Date Fin</th>
          <th>Page événement (madatsara.com)</th>
        </tr>
      </thead>
      <tbody>
          <f:for each="{data}" as="item" iteration="itemIteration">
	 
            <tr>
                <th scope="row"><a title="Afficher le flyer" href="{item.flyer}" target="_blank"><img src="{item.flyer}" width="75" height="75" alt="" /></a></th>
          <td>{item.title}</td>
          <td>{item.startdate}</td>
          <td>{item.enddate}</td>
          <td><a title="Afficher la page de l'événement sur Madatsara" href="{item.eventurl}" target="_blank">URL</a></td>
        </tr>
                             
        </f:for>
        
         
      </tbody>
    </table>
        
         
    
    
         
</div>

      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
