<!-- ###TEMPLATE_AUTHOR### begin -->
<div class="content">
    <div class="inner">
        <h3>###LL_ARTICLEDE###</h3>
        <div class="inner2">
            <h4><a >###NAME###</a></h4>
            <div class="csc-textpic csc-textpic-intext-left">
                <div class="csc-textpic-imagewrap csc-textpic-single-image">
                    ###IMG###
                </div>
                <div class="csc-textpic-text">
                    ###DESCRIPTION###
                </div>
            </div>
            <!-- ###BLOC_RESEAU### -->
            <hr />
             <h4>###LL_CONTACTS###</h4> 
             <ul class="clearfix contacts">
				 <!-- ###BOUCLEOTHER### -->
				 <li><a class="ico-mail lien_lightbox" title="###LL_CONTACTERAUTEUR###" href="###PAGE_CONTACTERAUTEUR###"><span class="blocouter">###LL_CONTACTERAUTEUR###</span></a></li>
				 <!-- ###BOUCLEOTHER### -->
                 <!-- ###BOUCLE### -->
                    <li><a class="###ICO###" title="###TITLE###" href="###URL###"><span class="blocouter">###TITLE###</span></a></li>
                 <!-- ###BOUCLE### -->
             </ul>
              <!-- ###BLOC_RESEAU### -->
              
              <!-- ###BLOC_AUTRESARTICLES### -->
            <hr />
             <h4>###LL_AUTRESARTICLES###</h4> 
              
				 
            <!-- ###BOUCLE_AUTRESARTICLES### -->
                <div class="section group paddingleft10" >
                    <div class="col span_1_of_3">
                        <a href="###URL###">###IMG###</a>
                    </div>
                    <div class="col span_2_of_3">
                        <h3 class="livre" style="margin-bottom: 43px;"><a href="###URL###">###TITLE###</a></h3>
                        <p class="subheader" style="margin-bottom:0;">###DATE###</p>
                    </div>
                </div>
            <!-- ###BOUCLE_AUTRESARTICLES### -->
              <div class="section group paddingleft10" ><a href="###LINKALL###" class="more ">###LL_TXTALL###</a></div> 
              <!-- ###BLOC_AUTRESARTICLES### -->
        </div>
    </div>
</div>
<!-- ###TEMPLATE_AUTHOR### end -->


