{namespace vh=Tx_Powermail_ViewHelpers}
 
<div id="powermail_fieldwrap_{field.uid}" class="group powermail_fieldwrap_{field.uid} {field.css}">
    <div class="col span_1_of_4" >
        <label for="powermail_field_{field.marker}" class="powermail_label">
		{field.title}<f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>
    </div>
    <div class="col span_3_of_4" >
        <div class="field-content clearfix">
            <f:if condition="{field.mandatory}">
		<f:then>
			<f:form.textfield id="powermail_field_{field.marker}" name="field[{field.uid}]" value="{vh:Misc.PrefillField(field: '{field}')}" class="powermail_text powermail_field powermail_input {vh:Misc.ValidationClass(field: '{field}')} {vh:Misc.ErrorClass(field: '{field}', class: 'powermail_field_error')}" required="{field.mandatory}" />
		</f:then>
		<f:else>
			<f:form.textfield id="powermail_field_{field.marker}" name="field[{field.uid}]" value="{vh:Misc.PrefillField(field: '{field}')}" class="powermail_text powermail_field powermail_input {vh:Misc.ValidationClass(field: '{field}')} {vh:Misc.ErrorClass(field: '{field}', class: 'powermail_field_error')}" />
		</f:else>
            </f:if>
        </div>
    </div>
</div>